apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: stateless-job
  namespace: flink
spec:
  image: flink-deployment-test:latest
  imagePullPolicy: Never
  flinkVersion: v1_20
  flinkConfiguration:
    taskmanager.numberOfTaskSlots: "2"
  serviceAccount: flink
  jobManager:
    resource:
      memory: "1024m"
      cpu: 1
  taskManager:
    resource:
      memory: "1024m"
      cpu: 1
  job:
    jarURI: local:///opt/flink/usrlib/flink-deployment-test-1.0-SNAPSHOT.jar
    entryClass: com.example.flink.StatelessJob
    args: []
    parallelism: 2
    upgradeMode: stateless
    state: running
